.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Search{
  margin:1em 0 1em 0;
  width: 200px;
height: 30px;
  
}

.name{
    margin: 5px;
    margin-top: 5px;
}